parameters:
    paths:
        - app
        - database/factories
        - database/seeders
        - routes

    inferPrivatePropertyTypeFromConstructor: true
    treatPhpDocTypesAsCertain: false

    excludePaths:
        - app/Providers/FortifyServiceProvider.php
        - app/Http/Controllers/Instances/InstancesAccountsController.php
        - app/Http/Controllers/Instances/InstancesController.php

    level: 5
    ignoreErrors:
